*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  background-color: #1A0B2E;
}


/* Navbar */
.nav-all-item{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    color: white;
    padding-top: 30px;
    padding-bottom: 30px;
}
.nav-logo h3{
    font-size: 30px;
    cursor: pointer;
}
.nav-logo-gradient{
    background: linear-gradient(to top right,#F7E93F 10%,#FB09B4 51%,#9100F8 100%);
    background-clip: text;
    color: transparent;
}
.nav-menu{
    display: flex;
    gap: 32px;
    align-items: center;
}
.nav-menu p{
    cursor: pointer;
}
.nav-menu p:hover{
    background: linear-gradient(rgba(145, 0, 248, 1),rgba(251, 9, 180, 1),rgba(247, 233, 63, 1));
    background-clip: text;
    color: transparent;
}

.btn-1{
    padding: 12px 16px;
    border-radius: 1000px;
    border: none;
    color: white;
    background-image: linear-gradient(to bottom left, rgba(145, 0, 248, 1),rgba(251, 9, 180, 1),rgba(247, 233, 63, 1));
    cursor: pointer;
}
.btn-1:hover{
     background-image: linear-gradient(to right, green, blue, indigo, violet);
}


/* Common Class */
.btn{
    padding: 12px 16px;
    border-radius: 1000px;
    border: none;
    color: white;
    background-image: linear-gradient(to bottom left, rgba(145, 0, 248, 1),rgba(251, 9, 180, 1),rgba(247, 233, 63, 1));
    cursor: pointer;
}
.btn:hover{
     background-image: linear-gradient(to right, green, blue, indigo, violet);
}
.bars-icon{
    display: none;
}


/* Hero Section */
.hero{
    text-align: center;
    background-image: url(./images/hero-bg.png);
    background-position: center;
    background-color: #1A0B2E;
    width: 100%;
    height: 760px;
    color: white;
}
.hero-image{
    display: flex;
    justify-content: center;
    text-align: center;
    position: relative;
}
.hero-image img{
    padding-top: 100px;
    margin-bottom: 40px;
}
.hero-microphone{
    position: absolute;
    top: 85px;
}
.hero-new button{
    padding: 8px 16px;
    border-radius: 1000px;
    color: #1A0B2E;
    border: none;
    background-color: #00FF88;
}
.hero-new{
    position: absolute;
    top: 130px;
    margin-right: -270px;
}
.hero-header h1{
    font-size: 60px;
    font-weight: 900;
    margin-bottom: 8px;
}
.hero-header p{
    font-size: 16px;
    margin-bottom: 24px;
}
.my-btn{
    padding: 12px 16px;
    border-radius: 1000px;
    border: 1px solid #00FF88;
    color: #00FF88;
    background-color: rgba(255, 255, 255, 0);
    cursor: pointer;
    margin-left: 5px;
}


/* About the Podcast */
.podcast{
    max-width: 1200px;
    margin: 50px auto 0;
    color: white;
}
.about{
    text-align: center;
}
.about h2{
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 16px;
}
.about p{
    line-height: 2;
}
hr{
    margin-top: 80px;
    border: 1px solid rgb(58, 58, 58);
}
.monthly-rank{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
    margin-top: 80px;
    margin-bottom: 120px;
    
}
.monthly-rank h2{
    font-size: 48px;
    font-weight: 900;
    color: #00FF88;
}


/* Why Choose TechWave */
.choice-set{
    background-color: #230E3D;
    color: white;
}
.choice-set-size{
    max-width: 1200px;
    margin: 0 auto;
    padding: 120px 0;
}


/* common header h2 Class */
.choice-set-header h2{
    font-size: 48px;
    font-weight: 900;
    text-align: center;
    margin-bottom: 40px;
}
.choice-set-card-list{
    display: grid;
    grid-template-columns: repeat(3, 380px);
    grid-template-rows: repeat(3, 1fr);
    justify-self: center;
    gap: 30px;
}
.choice-set-card-1{
    grid-row: span 2;
    background-color: #351165;
    border-radius: 40px;
    padding: 107px 40px;
}
.choice-set-card-1 img{
    margin-bottom: 16px;
}
.choice-set-card-1 h4{
    font-size: 24px;
    margin-bottom: 16px;
}
.choice-set-card-1 p{
    line-height: 1.5;
}
.choice-set-card-2{
    grid-column: span 2;
    background-color: #351165;
    border-radius: 40px;
    padding: 40px 40px;
}
.choice-set-card-2 img{
    margin-bottom: 16px;
}
.choice-set-card-2 h4{
    font-size: 24px;
    margin-bottom: 16px;
}
.choice-set-card-2 p{
    line-height: 1.5;
}
.choice-set-card-3{
    grid-column: span 2;
    background-color: #351165;
    border-radius: 40px;
    padding: 40px 40px;
}
.choice-set-card-3 img{
    margin-bottom: 16px;
}
.choice-set-card-3 h4{
    font-size: 24px;
    margin-bottom: 16px;
}
.choice-set-card-3 p{
    line-height: 1.5;
}
.choice-set-card-4{
    grid-column: span 2;
    background-color: #351165;
    border-radius: 40px;
    padding: 40px 40px;
}
.choice-set-card-4 img{
    width: 55px;
    margin-bottom: 16px;
}
.choice-set-card-4 h4{
    font-size: 24px;
    margin-bottom: 16px;
}
.choice-set-card-4 p{
    line-height: 1.5;
}
.choice-set-card-5{
    background-color: #351165;
    border-radius: 40px;
    padding: 40px 40px;
}
.choice-set-card-5 img{
    margin-bottom: 16px;
}
.choice-set-card-5 h4{
    font-size: 24px;
    margin-bottom: 16px;
}
.choice-set-card-5 p{
    line-height: 1.5;
}


/* Featured Episodes */
.feature{
    max-width: 1200px;
    margin: 0 auto;
    color: white;
    padding-top: 120px;
}
.feature-video-list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-self: center;
    align-items: center;
    gap: 30px;
}
.feature-video-1{
    background-color: #351165;
    border-radius: 15px;
}
.video-1 iframe{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.video-header{
    padding: 24px;
}
.video-header h4{
    font-size: 24px;
    margin-bottom: 12px;
}
.video-header p{
    font-size: 16px;
    margin-bottom: 12px;
}
.video-header h6{
    color: #00FF88;
}


/* Meet the Host */
.host{
    max-width: 1200px;
    margin: 120px auto 0;
    color: white;
}
.host-details{
    display: flex;
    align-items: center;
    gap: 24px;
    background-color: #351165;
    padding: 40px;
    border-radius: 20px;
}
.host-details-header h4{
    font-size: 32px;
    margin-bottom: 16px;
}
.host-details-header p{
    margin-bottom: 16px;
}
.host-social-icon i{
    font-size: 20px;
    width: 40px;
    height: 40px;
    border: 1px solid#533C72;
    background-color: rgba(255, 255, 255, 0);
    padding-top: 10px;
    border-radius: 50%;
    background: linear-gradient(to top right,#F7E93F 30%,#FB09B4 51%,#9100F8 100%);
    background-clip: text;
    color: transparent;
    cursor: pointer;
}


/* Footer */
.footer-banner{
    background-image: url(./images/footer-bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 412px;
    margin-top: 120px;
}
.footer-center{
    text-align: center;
    color: white;
    padding-top: 100px;
}
.footer-center h1{
    font-size: 80px;
    font-weight: 900;
    margin-bottom: 32px;
}
.footer-logo-2{
    background: linear-gradient(to top right,#F7E93F 10%,#FB09B4 51%,#9100F8 100%);
    background-clip: text;
    color: transparent;
}
.footer-icon-text{
    width: 544px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    gap: 40px;
    margin-bottom: 32px;
}


/* Small device Maxwidth:576px */
@media screen and (max-width:576px) {
    /* navbar */
    .nav-all-item{
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .nav-logo h3{
        font-size: 25px;
        padding-left: 20px;
    }
    .nav-menu{
        display: none;
    }
    .btn-1{
        display: none;
    }
    .bars-icon{
        font-size: 20px;
        display: inline;
        align-items: center;
        padding-top: 6px;
        padding-right: 20px;
    }


    /* Hero Section */
    .hero{
    text-align: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 400px;
    }
    .hero-image img{
        width: 200px;
        margin-bottom: 20px;
        padding-top: 40px;
    }
    .hero-microphone img{
        width: 60px;
    }
    .hero-microphone{
        top: 55px;
    }
    .hero-new{
        top: 50px;
        margin-right: -170px;
    }
    .hero-header h1{
        font-size: 40px;
    }


    /* About the Podcast */
    .about{
        margin-top: 100px;
        padding: 0 20px;
    }
    .about h2{
        font-size: 32px;
    }
    .about p{
        text-align: center;
    }
    hr{
        margin: 40px 20px 0;
    }
    .monthly-rank{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin: 40px 0;
        gap: 40px;
    }


    /* Why Choose TechWave */
    .choice-set-size{
        padding: 0;
    }
    .choice-set-header h2{
        font-size: 32px;
        padding-top: 40px;
        margin-bottom: 24px;
    }
    .choice-set-card-list{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 1fr);
        gap: 16px;
        width: 100%;
        padding: 0 20px;
    }
    .choice-set-card-1{
        grid-row: span 1;
        grid-column: span 2;
    }
    .choice-set-card-5{
        grid-column: span 2;
    }
    .choice-set-card-1, 
    .choice-set-card-2, 
    .choice-set-card-3, 
    .choice-set-card-4,
    .choice-set-card-5{
        padding: 20px;
        border-radius: 24px;
    }


    /* Featured Episode */
    .feature{
        padding-top: 0;
    }
    .feature-video-list{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
        width: 100%;
        padding: 0 20px;
    }


    /* Meet the Host */
    .host{
        margin-top: 20px;
        padding: 20px;
    }
    .host-details{
        flex-direction: column;
        text-align: center;
        gap: 16px;
        padding: 24px;
    }


    /* Footer */
    .footer-banner{
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 270px;
        width: 100%;
        margin-top: 40px;
    }
    .footer-center{
        padding: 47px 0;
    }
    .footer-center h1{
        font-size: 50px;
        margin-bottom: 24px;
    }
    .footer-icon-text{
        width: 255px;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 20px;
       margin-bottom: 24px;
    }
}



/* Medium Device:(min-width: 576px) and (max-width: 992px) */
@media screen and (min-width: 576px) and (max-width: 992px){
    /* Navbar */
    .nav-logo h3{
        padding-left: 20px;
    }
    .nav-menu{
        gap: 20px;
    }
    .btn-1{
        margin-right: 20px;
    }


    /* Hero Section */
    .hero{
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 510px;
    }
    .hero-image img{
        width: 270px;
        padding-top: 50px;
        margin-bottom: 25px;
    }
    .hero-microphone img{
        width: 90px;
    }
    .hero-microphone{
        top: 70px;
    }
    .hero-new{
        top: 70px;
        margin-right: -210px;
    }


    /* About the Podcast  */
    .podcast{
        margin-top: 100px;
    }
    .about h2{
        font-size: 40px;
    }
    .about p{
        padding: 0 20px;
    }
    hr{
        margin: 50px 20px 0;
    }
    .monthly-rank{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        margin-top: 50px;
        margin-bottom: 60px;
    }
    .monthly-rank h2{
        font-size: 40px;
    }


    /* Why Choose TechWave */
    .choice-set-size{
        padding: 50px 0;
    }
    .choice-set-header h2{
        font-size: 40px;
        margin-bottom: 20px;
    }
    .choice-set-card-list{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: repeat(5, 270px);
        padding: 0 20px;
        gap: 20px;
    }
    .choice-set-card-1{
        grid-row: span 1;
        grid-column: span 2;
        padding: 40px 40px;
    }
    .choice-set-card-5{
        grid-column: span 2;
    }


    /* Featured Episodes */
    .feature{
        padding-top: 50px;
    }
    .feature-video-list{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 25px;
        width: 100%;
        padding: 0 20px;
    }
    .video-1 iframe{
        width: 100%;
        height: 400px;
    }


    /* Meet the Host */
    .host{
        margin-top: 90px;
    }
    .host-details{
        margin: 0 20px;
    }


    /* Footer */
    .footer-banner{
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 330px;
        margin-top: 100px;
    }
    .footer-center h1{
        font-size: 60px;
        margin-bottom: 25px;
    }
    .footer-center{
        padding-top: 75px;
    }
    .footer-icon-text{
        gap: 20px;
    }
}


