*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  background-color: #1A0B2E;
}


/* Navbar */
.nav-all-item{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    color: white;
    padding-top: 30px;
    padding-bottom: 30px;
}
.nav-logo h3{
    font-size: 30px;
    cursor: pointer;
}
.nav-logo-gradient{
    background: linear-gradient(rgba(145, 0, 248, 1),rgba(251, 9, 180, 1),rgba(247, 233, 63, 1));
    background-clip: text;
    color: transparent;
}
.nav-menu{
    display: flex;
    gap: 32px;
    align-items: center;
}
.nav-menu p{
    cursor: pointer;
}
.nav-menu p:hover{
    background: linear-gradient(rgba(145, 0, 248, 1),rgba(251, 9, 180, 1),rgba(247, 233, 63, 1));
    background-clip: text;
    color: transparent;
}


/* Common Class */
.btn-1{
    padding: 12px 16px;
    border-radius: 1000px;
    border: none;
    color: white;
    background-image: linear-gradient(to bottom left, rgba(145, 0, 248, 1),rgba(251, 9, 180, 1),rgba(247, 233, 63, 1));
    cursor: pointer;
}
.btn-1:hover{
     background-image: linear-gradient(to right, green, blue, indigo, violet);
}
.btn{
    padding: 12px 16px;
    border-radius: 1000px;
    border: none;
    color: white;
    background-image: linear-gradient(to bottom left, rgba(145, 0, 248, 1),rgba(251, 9, 180, 1),rgba(247, 233, 63, 1));
    cursor: pointer;
}
.btn:hover{
     background-image: linear-gradient(to right, green, blue, indigo, violet);
}
.bars-icon{
    display: none;
}


/* Hero Section */
.hero{
    text-align: center;
    background-image: url(./images/hero-bg.png);
    background-position: center;
    background-color: #1A0B2E;
    width: 100%;
    height: 760px;
    color: white;
}
.hero-image{
    display: flex;
    justify-content: center;
    text-align: center;
    position: relative;
}
.hero-image img{
    padding-top: 100px;
    margin-bottom: 40px;
}
.hero-microphone{
    position: absolute;
    top: 85px;
}
.hero-new button{
    padding: 8px 16px;
    border-radius: 1000px;
    color: #1A0B2E;
    border: none;
    background-color: #00FF88;
}
.hero-new{
    position: absolute;
    top: 130px;
    margin-right: -270px;
}
.hero-header h1{
    font-size: 60px;
    font-weight: 800;
    margin-bottom: 8px;
}
.hero-header p{
    font-size: 16px;
    margin-bottom: 24px;
}
.my-btn{
    padding: 12px 16px;
    border-radius: 1000px;
    border: 1px solid #00FF88;
    color: #00FF88;
    background-color: rgba(255, 255, 255, 0);
    cursor: pointer;
    margin-left: 5px;
}


/* About the Podcast */
.podcast{
    max-width: 1200px;
    margin: 50px auto 0;
    color: white;
}
.about{
    text-align: center;
}
.about h2{
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 16px;
}
.about p{
    line-height: 2;
}
hr{
    margin-top: 80px;
    border: 1px solid rgb(58, 58, 58);
}
.monthly-rank{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
    margin-top: 80px;
    margin-bottom: 120px;
    
}
.monthly-rank h2{
    font-size: 48px;
    font-weight: 900;
    color: #00FF88;
}














@media screen and (max-width:576px) {
    /* navbar */
    .nav-all-item{
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .nav-logo h3{
        font-size: 25px;
        padding-left: 20px;
    }
    .nav-menu{
        display: none;
    }
    .btn-1{
        display: none;
    }
    .bars-icon{
        font-size: 20px;
        display: inline;
        align-items: center;
        padding-top: 6px;
        padding-right: 20px;
    }


    /* Hero Section */
    .hero{
    text-align: center;
    background-image: url(./images/hero-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 466px;
    }
    .hero-image img{
        width: 200px;
        margin-bottom: 20px;
    }
    .hero-microphone img{
        width: 60px;
    }
    .hero-microphone{
        top: 55px;
    }
    .hero-new{
        top: 110px;
        margin-right: -180px;
    }
    .hero-header h1{
        font-size: 40px;
    }


    /* About the Podcast */
    .about{
        margin-top: 100px;
        padding: 0 20px;
    }
    .about h2{
        font-size: 32px;
    }
    .about p{
        text-align: center;
    }
    hr{
        margin: 40px 20px 0;
    }
    .monthly-rank{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin: 40px 0;
        gap: 40px;
    }
}

